body
{
    background-color: seagreen;
}
img{
    height: 300px;
    float: left;
    margin-right: 10px;
}
h2{
    display: inline;
    width: 100%;
}

@media (max-width: 680px)
{

h1{
    font-size: 20px;
}
h2 {
display: block;
font-size: 15px;
}


img{
   
    display: inline;
}

.middle {
    display: block;
}
}

